@import "../../stylesheets/mixin.scss";
@import "../../stylesheets/table.scss";

nav {
  margin-bottom: 1em;
}

.node-checkbox {
  flex: 0.2;
}

.node-runningJobCount,
.node-coreCount,
.node-memory,
.node-state,
.node-eventCount,
.node-health {
  flex: 0.5;
}

.node-os,
.node-groups {
  flex: 2;
}

.node-name {
  flex: 0.8;
}

.node-os {
  @include ellipsis-text;
}

.node-runningJobCount,
.node-coreCount,
.node-memory,
.node-eventCount {
  @include display-flex(center, flex-end);
}

.online {
  color: $color;
}

.offline {
  color: #6c727c;
}

.healthy {
  color: $color;
}

.error {
  color: #D84315;
}

.node-error {
  padding-left: 3px;
}

.inline {
  display: inline;
}

.list-content {
  height: 65vh;
  position: relative;
  width: 100%;
}

.groups {
  overflow-y: auto;
  height: 85vh;

  .group {
    @include display-flex(center);
    height: 25px;
    font-size: 14px;

    .cell-icon {
      font-size: 1em;
    }

    .cell-text {
      padding-left: 10px;
    }

    &:hover {
      color: $color;
      cursor: pointer;
    }
  }
}

.window-btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  min-height: 30px;
  vertical-align: top;
  font-size: 14px;
  padding: 0 0;
  margin: 0;
}

.window-actions {
  @include display-flex(center, flex-end);
}
