<div class="actions">
  <button mat-button (click)="newGroup()">
    <div class="action-btn">
      <i class="material-icons btn-icon action-icon">add</i>
      <div class="action-text">Add Group...</div>
    </div>
  </button>
</div>

<div class="filter">
  <mat-form-field>
    <input matInput (keyup)="updateUI()" [(ngModel)]="query.filter" placeholder="Filter">
    <mat-hint>Filter results by group name</mat-hint>
    <mat-hint align="end">{{dataSource.filteredData.length}} results</mat-hint>
  </mat-form-field>
</div>

<div class="list-container">
  <div class="list-header" [ngClass]="{'list-header-scrolled':showScrollBar}" [accessibleHeader]="displayedColumns">
    <div class="header group-name">
      Name
    </div>
    <div class="header group-description">
      Desciption
    </div>
    <div class="header group-actions">
      Actions
    </div>
  </div>

  <div class="list-content">
    <cdk-virtual-scroll-viewport itemSize="40" #content class="list-content">
      <div
        *cdkVirtualFor="let group of dataSource; let i = index; let first = first; templateCacheSize: 0; trackBy: trackByFn.bind(this)"
        class="list-item" [accessibleRow]="group" [displayedColumns]="displayedColumns"
        [class.list-row-selected]="focusRowId == group.id" [firstRow]="first" (focusRow)="getFocusRowId($event)"
        [focusRowId]="focusRowId">
        <div class="icon-cell group-name" [ngClass]="{'active-job': selectedGroupId == group.id}">
          <i class="material-icons cell-icon color-icon">category</i>
          <a *ngIf="selectedGroupId !== group.id" [routerLink]="['..','resource']"
            [queryParams]="{filter: 'groups', keyword: group.name}" class="cell-text" tabindex="-1">{{group.name}}</a>
          <mat-form-field *ngIf="selectedGroupId == group.id" class="edit-input">
            <input matInput [(ngModel)]="editGroup.name" autofocus>
          </mat-form-field>
        </div>

        <div class="icon-cell group-description">
          <i class="material-icons cell-icon">notes</i>
          <div class="cell-text" *ngIf="selectedGroupId !== group.id">{{group.description}}</div>
          <mat-form-field *ngIf="selectedGroupId == group.id" class="edit-input">
            <input matInput [(ngModel)]="editGroup.description">
          </mat-form-field>
        </div>

        <div class="group-actions">
          <div class="flex-vcenter" *ngIf="group.managed"> - </div>
          <div class="flex-vcenter" *ngIf="!group.managed && !(selectedGroupId == group.id)">
            <button mat-icon-button (click)="edit(group)" aria-label="Edit group information button" tabindex="-1">
              <mat-icon class="color-icon">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(i, group)" aria-label="Delete group information button"
              tabindex="-1">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          </div>
          <div class="flex-vcenter" *ngIf="selectedGroupId == group.id">
            <button mat-icon-button (click)="saveEdit(i)" aria-label="Save edit group information button" tabindex="-1">
              <mat-icon class="color-icon">cached</mat-icon>
            </button>
            <button mat-icon-button (click)="cancelEdit()" aria-label="Cancel edit group information button"
              tabindex="-1">
              <mat-icon class="delete-icon">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
    <app-scroll-to-top [scrolled]="scrolled" [targetEle]="content"></app-scroll-to-top>

    <div class="list-loading" *ngIf="empty">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

<app-loading-progress-bar [hidden]="!loading || !scrolled" class="virtual-scroll-loading"></app-loading-progress-bar>
