@import "../../stylesheets/mixin.scss";

.groups {
  padding: 15px 10px;
}

.group {
  @include display-flex(center);
  height: 30px;

  &:hover {
    color: $color;
    cursor: pointer;
  }

  .group-name {
    font-weight: bold;
    display: inline-block;
  }

  .group-description {
    padding-left: 10px;
    display: inline-block;
    @include ellipsis-text;
  }
}

mat-dialog-actions {
  justify-content: flex-end;
}

button {
  margin-right: 10px;
  font-size: 13px;
}

.actions {
  @include display-flex(center, flex-end);

  .action-btn {
    @include display-flex(center);
  }

}
