<h2 mat-dialog-title>Node Groups</h2>
<mat-dialog-content>
  <div class="actions">
    <button mat-stroked-button (click)="newGroup()" color="primary">
      <div class="action-btn">
        <i class="material-icons btn-icon">add</i>
        <div class="action-text">New Group</div>
      </div>
    </button>
  </div>
  <div class="groups" #nodes>
    <div class="group" *ngFor="let group of allGroups" (click)="updateSelectedGroups(group)">
      <mat-checkbox color="primary" (click)="$event.stopPropagation();"
        (change)="$event? updateSelectedGroups(group) : null" [checked]="isSelectedGroup(group)">
        <div class="group-name">{{group.name}}</div>
      </mat-checkbox>
      <div class="group-description">
        - {{group.description}}
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
  <button mat-flat-button color="primary" (click)="close()">Update</button>
</mat-dialog-actions>
